# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# Database lokal
*.db
*.sqlite
*.sqlite3

# IDE
.idea/
*.iml
*.ipr
*.iws
.vscode/
.settings/
.project
.classpath

# OS
.DS_Store
Thumbs.db

# Log
*.log
